---

# The SNS Topic name that GitHub publishes comments to. This is only used by
# deploy.py to create the Topic, it's not used by birch girder.
sns_topic: GithubWebhookTopic
# The ARN of the AWS Topic that GitHub publishes comments to. This is set by
# deploy.py when the Topic is created
sns_topic_arn: arn:aws:sns:us-west-2:123456789012:GithubWebhookTopic
# The AWS region in which the SNS Topic is hosted
sns_region: us-west-2
# The GitHub OAuth token that allows Birch Girder to act on behalf of github_username
github_token: 0123456789abcdef0123456789abcdef01234567
# The GitHub username of the user that Birch Girder acts as
github_username: octocat
# The AWS S3 bucket name that temporarily stores email
ses_payload_s3_bucket_name: birch-girder-example-corporation
# The directory in the S3 bucket to store email in
ses_payload_s3_prefix: ses-payloads/
# The SNS Topic to use for conveying notifications from SES to Birch Girder
# about the outcome of sent email
ses_notification_sns_topic: BirchGirderSESNotificationTopic
# The ARN of the ses_notification_sns_topic SNS Topic. This value is set by
# deploy.py when the Topic is created
ses_notification_sns_topic_arn: arn:aws:sns:us-east-1:123456789012:BirchGirderSESNotificationTopic
# An optional SNS Topic that Birch Girder publishes to in the event of a bug
alert_sns_topic_arn: arn:aws:sns:us-west-2:123456789012:BirchGirderAlerts
# The region of the alert SNS topic
alert_sns_region: us-west-2
# The plain text name to inject in email responses to indicate to the email
# recipient who's responsible for sending the email
provider_name: Example Corporation
# The text to send back in email to anyone who submits a ticket via email
initial_email_reply: Thanks for contacting us. We will get back to you as soon
  as possible. You can reply to this email if you have additional information
  to add to your request.
# Whether or not to allow issues to be merged which come from an email that is
# not a reply to the existing issue and doesn't have the existing issue's
# issue number in the subject, but merely has a matching subject line.
allow_issue_merging_by_subject: True
# A list of email addresses of senders that should not be sent the initial email
# reply because they are other companies ticketing systems, not a person
known_machine_senders:
  - noreply@example.net
# A list of additional GitHub usernames, beyond github_username, which were used
# in the past by birch girder. This accomodates cases where over time you've
# changed which GitHub user birch girder operates as but you want to ensure that
# historical GitHub issues still work with birch girder using the old usernames.
historical_github_usernames: []
# The AWS IAM key ID and secret stored in GitHub Actions Secrets which enables
# the GitHub repo to publish to the SNS Topic. These values are only used by
# deploy.py not by birch_girder
github_iam_user_access_key_id: AKIAIOSFODNN7EXAMPLE
github_iam_user_secret_access_key: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
# A map of email addresses that you would like to receive email at
recipient_list:
  # The email address
  support@example.com:
    # The GitHub owner or organization that owns the repository that Birch Girder
    # should create new issues in when emails are received from the email address
    # above
    owner: octocat
    # The GitHub repository name
    repo: Spoon-Knife
    # The optoinal label to assign to new issues
    label: Support
    # The plain text name to use in the From field of emails Birch Girder sends
    name: Example-Corp-Support
  # As many email recipient addresses as you want
  billing@example.com:
    owner: octocat
    repo: Fork-Chopstick
    label: Billing
    name: Example-Corp-Billing
